div#plugin__sitemapnavi {

    li.current > div {
         > button, a {
            color: red;
        }
    }

    button.plugin__sitemapnavi__dir {
        border: none;
        background: none;
        color: @ini_link;
        padding-left: 0;
    }
}
